body {
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;

  color: var(--primary-font-color);
  font-family: 'Roboto Slab', serif;
}

html, body {
  padding: 0;
  margin: 0;
}

h1, p {
  margin:0 0 1em;
}

button {
  cursor: pointer;
}

.none {
  display: none;
}