section.PlayButton > button {
  width: 60px;
  height: 60px;

  background-color: var(--background-color);
  border: 0;
  border-radius: 50%;
  /* outline: 0; */

  position: absolute;
  bottom: -5%;
  right: 50%;
  transform: translateX(50%);
}

section.PlayButton > button > img {
  width: 60px;
  height: 60px;
  
  position: absolute;
  bottom: -5%;
  right: 50%;
  transform: translateX(50%);

  transition: opacity 0.75s;
}

section.PlayButton > button > img:hover:not(:disabled) {
  opacity: 0.8;
  
  outline: 1px solid var(--primary-font-color);
  outline-offset: -2px;
}