.p1Score::after{
  content: "1";
  
  font-size: 18px;
  font-weight: bold;

  position: absolute;
  bottom: -12%;
}

.p2Score::after{
  content: "0";
  
  font-size: 18px;
  font-weight: bold;

  position: absolute;
  bottom: -12%;
}

.p1Result::after{
  content: "Winner";
  
  font-size: 18px;
  font-weight: bold;

  position: absolute;
  bottom: -12%;
}

.p2Result::after{
  content: "Loser";
  
  font-size: 18px;
  font-weight: bold;

  position: absolute;
  bottom: -12%;
}